{% extends "base.html" %}

{% block title %}Expense{% endblock %}

{% block body %}

{% block footer %}
    <script src="../js/showLimit.js">   </script>
{% endblock %}

<main>

    <article>

        <div class="container">

            <div class="row">

                <section class="block remove-top" id="contact-us" style="display: none;">
                    <form method="post" action="" name="contactform" id="contactform">
                        <div class="row">
                            <div>INFO</div>
                        </div>
                    </form>
                </section>

                <div class="col-sm-10 bg-budgetOpacity text-center information mt-5 mr-auto ml-auto ">

                    <h2 style="color: white">Witaj w sekcji "Dodaj Wydatek"</h2>


                    <form method="post" id="buttons" action="/expense/create" class="form-block income mr-auto ml-auto mt-4">
                        <div class="form-group mb-3">
                            <h4>KWOTA</h4>
                            <input type="value" class="form-control" placeholder="Wpisz kwotę" id="amountExpense" name="amountExpense" required autofocus>
                        </div>

                        <div class="form-group mb-3">
                            <h4>DATA</h4>
                            <input type="date" class="form-control" name="dateExpense" value="{{ date }}">
                        </div>

                        <h4>FORMA PŁATNOŚCI</h4>
                        <select class="custom-select my-1 mr-sm-2 mt-3 mb-3" name="paymentMethod">
                            {% for method in paymentMethods %}
                                <option value="{{ method.id }}">{{ method.method }}</option>
                            {% endfor %}
                        </select>

                        <label><h4>KATEGORIA</h4></label>
                        <select class="custom-select my-1 mr-sm-2" name="categoryExpense" id="categoryExpense">
                            {% for category in expensesCategory %}
                                <option value="{{ category.1 }}">{{ category.category }}</option>
                            {% endfor %}
                        </select>


                        <div class="form-group mt-3 mb-4">
                            <h5>Opcjonalny komentarz opisujący wydatek</h5>
                            <textarea class="form-control" rows="3" name="commentExpense"></textarea>
                        </div>

                    </form>
                </div>
            </div>

            <div class="mt-3 text-center">
                <p>
                    <input class="btn bg-budget my-1 p-2 custom" style="color:#ffffff;" type="submit" value="DODAJ" form="buttons" />
                    <input class="btn btn-danger ml-3 my-1 p-2 custom" type="reset" value="ANULUJ" form="buttons" />
                </p>
            </div>
        </div>
    </article>
</main>

{% endblock %}