{% extends "base.html" %}

{% block title %}Balance{% endblock %}

{% block body %}
{% block footer %}

{% endblock %}
<main>
    <article>

        <div class="container">

            <div class="row mt-5 mr-auto ml-auto">

                <div class="col-12 text-center bg-budgetOpacity p-3">
                    <h4>PRZEGLĄDAJ BILANS</h4>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                        Ustaw zakres analizy bilansu domowego
                    </button>
                    <div class="mt-3">
                        {% if range == "rangeCurrentMonth" %}
                        <h5 style="color: white">Przeglądasz bilans z aktualnego miesiąca</h5>
                        {% elseif range == "rangePreviousMonth" %}
                        <h5 style="color: white">Przeglądasz bilans z poprzedniego miesiąca</h5>
                        {% elseif range == "rangeCurrentYear" %}
                        <h5 style="color: white">Przeglądasz bilans z aktualnego roku</h5>
                        {% elseif range == "rangeChosenPeriod" %}
                        <h5 style="color: white">Przeglądasz bilans z wybranego okresu</h5>
                        {% else %}
                        <h5 style="color: white">Przeglądasz bilans z aktualnego miesiąca</h5>
                        {% endif %}
                    </div>
                </div>
                <!-- Modal -->
                <form method="post" id="balance" class="col-12" action="">
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="myModalLabel">Modal Title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body mr-auto ml-auto text-center">
                                        <label class="mt-2 customText">Wybierz okres, w którym chcesz przejrzeć bilans</label>
                                        <select class="custom-select customInputs" id="name" name="range" onchange="val()">
                                            <option value="rangeCurrentMonth"  selected>    Bieżący miesiąc</option>
                                            <option value="rangePreviousMonth"  >          Poprzedni miesiąc</option>
                                            <option value="rangeCurrentYear"    >          Bieżący rok</option>
                                            <option value="rangeChosenPeriod"   >          Inny zakres</option>
                                        </select>
                                        <div class="form-group mt-3">
                                            OD
                                            <input type="date" value="startPeriod" class="form-control" name="startPeriod">
                                        </div>
                                        <div class="form-group">
                                            DO
                                            <input type="date" value="endPeriod" class="form-control" name="endPeriod">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="submit" class="btn btn-danger" data-dismiss="modal" value="ZAMKNIJ" />
                                        <input name="update" type="submit" class="btn btn-success" value="ZAPISZ" />
                                    </div>
                                </div>
                            </div>
                        </div>


                    <div class="mt-4 text-center bg-budgetOpacity p-3">
                        <h4>ANALIZA PRZYCHODÓW</h4>
                        <table class="table mt-4">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Kategoria</th>
                                <th>Kwota</th>
                            </tr>
                        </thead>
                            {% if range == "rangeCurrentMonth" %}
                                {% for incomeCategoryAmount in incomeCurrentMonth %}
                                    <tr><th>{{ loop.index }}</th>
                                        <th>{{ incomeCategoryAmount.0 }}</th>
                                        <th>{{ incomeCategoryAmount.1 }}</th></tr>
                                {% endfor %}
                            {% elseif range == "rangePreviousMonth" %}
                                {% for incomeCategoryAmount in incomePreviousMonth %}
                                    <tr><th>{{ loop.index }}</th>
                                        <th>{{ incomeCategoryAmount.0 }}</th>
                                        <th>{{ incomeCategoryAmount.1 }}</th></tr>
                                    {% endfor %}
                            {% elseif range == "rangeCurrentYear" %}
                                {% for incomeCategoryAmount in incomeCurrentYear %}
                                <tr><th>{{ loop.index }}</th>
                                    <th>{{ incomeCategoryAmount.0 }}</th>
                                    <th>{{ incomeCategoryAmount.1 }}</th></tr>
                                {% endfor %}
                            {% elseif range == "rangeChosenPeriod" %}
                                {% for incomeCategoryAmount in incomeChosenPeriod %}
                                <tr><th>{{ loop.index }}</th>
                                    <th>{{ incomeCategoryAmount.0 }}</th>
                                    <th>{{ incomeCategoryAmount.1 }}</th></tr>
                                {% endfor %}
                            {% else %}
                                {% for incomeCategoryAmount in incomeCurrentMonth %}
                                <tr><th>{{ loop.index }}</th>
                                    <th>{{ incomeCategoryAmount.0 }}</th>
                                    <th>{{ incomeCategoryAmount.1 }}</th></tr>
                                {% endfor %}
                            {% endif %}
                        </table>
                    </div>

                    <div class="col-12 mt-4 text-center bg-budgetOpacity p-3">
                        <h4>ANALIZA WYDATKÓW</h4>
                        <table class="table mt-4">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Kategoria</th>
                                    <th>Kwota</th>
                                </tr>
                            </thead>
                            {% if range == "rangeCurrentMonth" %}
                                {% for expenseCategoryAmount in expenseCurrentMonth %}
                                <tr><th>{{ loop.index }}</th>
                                    <th>{{ expenseCategoryAmount.0 }}</th>
                                    <th>{{ expenseCategoryAmount.1 }}</th></tr>
                                {% endfor %}
                            {% elseif range == "rangePreviousMonth" %}
                                {% for expenseCategoryAmount in expensePreviousMonth %}
                                <tr><th>{{ loop.index }}</th>
                                    <th>{{ expenseCategoryAmount.0 }}</th>
                                    <th>{{ expenseCategoryAmount.1 }}</th></tr>
                                {% endfor %}
                            {% elseif range == "rangeCurrentYear" %}
                                {% for expenseCategoryAmount in expenseCurrentYear %}
                                <tr><th>{{ loop.index }}</th>
                                    <th>{{ expenseCategoryAmount.0 }}</th>
                                    <th>{{ expenseCategoryAmount.1 }}</th></tr>
                                {% endfor %}
                            {% elseif range == "rangeChosenPeriod" %}
                                {% for expenseCategoryAmount in expenseChosenPeriod %}
                                <tr><th>{{ loop.index }}</th>
                                    <th>{{ expenseCategoryAmount.0 }}</th>
                                    <th>{{ expenseCategoryAmount.1 }}</th></tr>
                                {% endfor %}
                            {% else %}
                                {% for expenseCategoryAmount in expenseCurrentMonth %}
                                <tr><th>{{ loop.index }}</th>
                                    <th>{{ expenseCategoryAmount.0 }}</th>
                                    <th>{{ expenseCategoryAmount.1 }}</th></tr>
                                {% endfor %}
                            {% endif %}
                        </table>
                    </div>

                    <div class="col-12 mt-4 text-center bg-budgetOpacity p-3">
                        <h4>PODSUMOWANIE</h4>
                        <table class="table mt-4">
                            <thead>
                            <tr>
                                <th>PRZYCHÓD</th>
                                <th>WYDATKI</th>
                                <th>Kwota</th>
                            </tr>
                            </thead>

                            {% if range == "rangeCurrentMonth" %}

                                {% for incomeAmount in incomeSumUpCurrentMonth %}
                                <tr>
                                    <th>{{ incomeAmount.0 }}</th>
                                    {% for expenseAmount in expenseSumUpCurrentMonth %}
                                    <th>{{ expenseAmount.0 }}</th>
                                    <th>{{ incomeAmount.0 - expenseAmount.0 }}</th></tr>

                                    {% if  incomeAmount.0 > expenseAmount.0 %}
                                    <h4 style="color: blue">Gratulacje świetnie zarządzasz finansami</h4>
                                    {% else %}
                                    <h4 style="color: red">Uważaj wpadasz w długi</h4>
                                    {% endif %}
                                {% endfor %}
                                {% endfor %}

                            {% elseif range == "rangePreviousMonth" %}

                                {% for incomeAmount in incomeSumUpPreviousMonth %}
                                <tr>
                                    <th>{{ incomeAmount.0 }}</th>
                                    {% for expenseAmount in expenseSumUpPreviousMonth %}
                                    <th>{{ expenseAmount.0 }}</th>
                                    <th>{{ incomeAmount.0 - expenseAmount.0 }}</th></tr>

                                    {% if  (incomeAmount.0) > (expenseAmount.0) %}
                                    <h4 style="color: blue">Gratulacje świetnie zarządzasz finansami</h4>
                                    {% else %}
                                    <h4 style="color: red">Uważaj wpadasz w długi</h4>
                                    {% endif %}

                                {% endfor %}
                                {% endfor %}

                            {% elseif range == "rangeCurrentYear" %}

                                {% for incomeAmount in incomeSumUpCurrentYear %}
                                <tr>
                                    <th>{{ incomeAmount.0 }}</th>
                                    {% for expenseAmount in expenseSumUpCurrentYear %}
                                    <th>{{ expenseAmount.0 }}</th>
                                    <th>{{ incomeAmount.0 - expenseAmount.0 }}</th></tr>

                                    {% if  (incomeAmount) > (expenseAmount) %}
                                    <h4 style="color: blue">Gratulacje świetnie zarządzasz finansami</h4>
                                    {% else %}
                                    <h4 style="color: red">Uważaj wpadasz w długi</h4>
                                    {% endif %}

                                {% endfor %}
                                {% endfor %}

                            {% elseif range == "rangeChosenPeriod" %}

                                {% for incomeAmount in incomeSumUpChosenPeriod %}
                                <tr>
                                    <th>{{ incomeAmount.0 }}</th>
                                    {% for expenseAmount in expenseSumUpChosenPeriod %}
                                    <th>{{ expenseAmount.0 }}</th>
                                    <th>{{ incomeAmount.0 - expenseAmount.0 }}</th></tr>

                                    {% if  (incomeAmount.0) > (expenseAmount.0) %}
                                    <h4 style="color: blue">Gratulacje świetnie zarządzasz finansami</h4>
                                    {% else %}
                                    <h4 style="color: red">Uważaj wpadasz w długi</h4>
                                    {% endif %}

                                {% endfor %}
                                {% endfor %}

                            {% else %}

                                {% for incomeAmount in incomeSumUpCurrentMonth %}
                                <tr>
                                    <th>{{ incomeAmount.0 }}</th>
                                    {% for expenseAmount in expenseSumUpCurrentMonth %}
                                    <th>{{ expenseAmount.0 }}</th>
                                    <th>{{ incomeAmount.0 - expenseAmount.0 }}</th></tr>

                                    {% if  (incomeAmount.0) > (expenseAmount.0) %}
                                    <h4 style="color: blue">Gratulacje świetnie zarządzasz finansami</h4>
                                    {% else %}
                                    <h4 style="color: #ff0000">Uważaj wpadasz w długi</h4>
                                    {% endif %}

                                {% endfor %}
                                {% endfor %}

                            {% endif %}

                        </table>

                    </div>


                    <div class="row mt-4 bg-budgetOpacity mr-auto ml-auto">
                            <div class="col-lg-6 m-auto">
                                <div class="mt-3"><h3>GRAFICZNA ANALIZA WYDATKÓW</h3></div>
                                <canvas id="myExpenseChart" width="640" height="480"></canvas>
                            </div>
                        </div>
                </form>
                    </div>

            </div>
        </div>
    </article>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script>

    let rowJson = '{{ range|json_encode|raw }}';
    let range = JSON.parse(rowJson);
    console.log(range);

    let expensesJson = '{{ expenseCurrentMonth|json_encode|raw }}';

    if (range === "rangeCurrentMonth") {
        expensesJson = '{{ expenseCurrentMonth|json_encode|raw }}'
    } else if (range === "rangePreviousMonth") {
        expensesJson = '{{ expensePreviousMonth|json_encode|raw }}'
    } else if (range === "rangeCurrentYear") {
        expensesJson = '{{ expenseCurrentYear|json_encode|raw }}'
    } else if (range === "rangeChosenPeriod") {
        expensesJson = '{{ expenseChosenPeriod|json_encode|raw }}'
    }

    let expenses = JSON.parse(expensesJson);

    const expensesObj = [];
    for (let i = 0; i < expenses.length; i++) {
        const singleExpense = {};

        singleExpense.category = (expenses[i][0]);
        singleExpense.value = (expenses[i][1]);

        expensesObj.push(singleExpense);
    }

    const labels = [];
    for (let i = 0; i < expensesObj.length; i++) {
        labels.push(expensesObj[i]['category']);
    }

    const values = [];
    for (let i = 0; i < expensesObj.length; i++) {
        values.push(expensesObj[i]['value']);
    }

    let ctx = document.getElementById("myExpenseChart").getContext("2d");

    var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: labels,
            datasets: [{
                label: 'Wydatki',
                backgroundColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(94, 234, 36, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(156, 208, 114, 1)',
                    'rgba(36, 219, 250, 1)',
                    'rgba(10, 10, 250, )',
                    'rgba(80, 10, 160, 1)',
                    'rgba(75, 140, 192, 1)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(94, 234, 36, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(156, 208, 114, 1)',
                    'rgba(36, 219, 250, 1)',
                    'rgba(10, 10, 250, 1)',
                    'rgba(80, 10, 160, 1)',
                    'rgba(75, 140, 192, 1)'
                ],
                data: values
            }],
            options: {}
        }
    });

</script>

{% endblock %}
