{% extends "base.html" %}

{% block title %}detailedBalance{% endblock %}

{% block body %}

<main>
    <article>

        <div class="container">

            <div class="row mt-5 mr-auto ml-auto">

                <div class="col-12 text-center bg-budgetOpacity p-3">
                    <h4>PRZEGLĄDAJ BILANS</h4>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                        Ustaw zakres analizy bilansu domowego
                    </button>
                </div>
                <!-- Modal -->
                <form method="post" id="balance" class="col-12" action="">
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="myModalLabel">Modal Title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body mr-auto ml-auto text-center">
                                    <label class="mt-2 customText">Wybierz okres, w którym chcesz przejrzeć bilans</label>
                                    <select class="custom-select customInputs" id="name" name="range">
                                        <option value="rangeCurrentMonth"  selected>    Bieżący miesiąc</option>
                                        <option value="rangePreviousMonth"  >          Poprzedni miesiąc</option>
                                        <option value="rangeCurrentYear"    >          Bieżący rok</option>
                                        <option value="rangeChosenPeriod"   >          Inny zakres</option>
                                    </select>
                                    <div class="form-group mt-3">
                                        OD
                                        <input type="date" value="startPeriod" class="form-control" name="startPeriod">
                                    </div>
                                    <div class="form-group">
                                        DO
                                        <input type="date" value="endPeriod" class="form-control" name="endPeriod">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input type="submit" class="btn btn-danger" data-dismiss="modal" value="ZAMKNIJ" />
                                    <input name="update" type="submit" class="btn btn-success" value="ZAPISZ" />
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="mt-4 text-center bg-budgetOpacity p-3 detailedBalance">
                        <h4>ANALIZA PRZYCHODÓW</h4>
                        <table class="table mt-4">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Kategoria</th>
                                <th>Kwota</th>
                                <th>Data</th>
                                <th>Komentarz</th>
                            </tr>
                            </thead>
                            {% if range == "rangeCurrentMonth" %}
                            {% for incomeCategoryAmount in detailedIncomeCurrentMonth %}
                            <tr><th>{{ loop.index }}</th>
                                <th>{{ incomeCategoryAmount.0 }}</th>
                                <th>{{ incomeCategoryAmount.1 }}</th>
                                <th>{{ incomeCategoryAmount.2 }}</th>
                                <th>{{ incomeCategoryAmount.3 }}</th></tr>
                            {% endfor %}
                            {% elseif range == "rangePreviousMonth" %}
                            {% for incomeCategoryAmount in detailedIncomePreviousMonth %}
                            <tr><th>{{ loop.index }}</th>
                                <th>{{ incomeCategoryAmount.0 }}</th>
                                <th>{{ incomeCategoryAmount.1 }}</th>
                                <th>{{ incomeCategoryAmount.2 }}</th>
                                <th>{{ incomeCategoryAmount.3 }}</th></tr>
                            {% endfor %}
                            {% elseif range == "rangeCurrentYear" %}
                            {% for incomeCategoryAmount in detailedIncomeCurrentYear %}
                            <tr><th>{{ loop.index }}</th>
                                <th>{{ incomeCategoryAmount.0 }}</th>
                                <th>{{ incomeCategoryAmount.1 }}</th>
                                <th>{{ incomeCategoryAmount.2 }}</th>
                                <th>{{ incomeCategoryAmount.3 }}</th></tr>
                            {% endfor %}
                            {% elseif range == "rangeChosenPeriod" %}
                            {% for incomeCategoryAmount in detailedIncomeChosenPeriod %}
                            <tr><th>{{ loop.index }}</th>
                                <th>{{ incomeCategoryAmount.0 }}</th>
                                <th>{{ incomeCategoryAmount.1 }}</th>
                                <th>{{ incomeCategoryAmount.2 }}</th>
                                <th>{{ incomeCategoryAmount.3 }}</th></tr>
                            {% endfor %}
                            {% else %}
                            {% for incomeCategoryAmount in detailedIncomeCurrentMonth %}
                            <tr><th>{{ loop.index }}</th>
                                <th>{{ incomeCategoryAmount.0 }}</th>
                                <th>{{ incomeCategoryAmount.1 }}</th>
                                <th>{{ incomeCategoryAmount.2 }}</th>
                                <th>{{ incomeCategoryAmount.3 }}</th></tr>
                            {% endfor %}
                            {% endif %}
                        </table>
                    </div>

                    <div class="col-12 mt-4 text-center bg-budgetOpacity p-3">
                        <h4>ANALIZA WYDATKÓW</h4>
                        <table class="table mt-4">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Kategoria</th>
                                <th>Kwota</th>
                                <th>Data</th>
                                <th>Komentarz</th>
                            </tr>
                            </thead>
                            {% if range == "rangeCurrentMonth" %}
                            {% for expenseCategoryAmount in detailedExpenseCurrentMonth %}
                            <tr><th>{{ loop.index }}</th>
                                <th>{{ expenseCategoryAmount.0 }}</th>
                                <th>{{ expenseCategoryAmount.1 }}</th>
                                <th>{{ expenseCategoryAmount.2 }}</th>
                                <th>{{ expenseCategoryAmount.3 }}</th></tr>
                            {% endfor %}
                            {% elseif range == "rangePreviousMonth" %}
                            {% for expenseCategoryAmount in detailedExpensePreviousMonth %}
                            <tr><th>{{ loop.index }}</th>
                                <th>{{ expenseCategoryAmount.0 }}</th>
                                <th>{{ expenseCategoryAmount.1 }}</th>
                                <th>{{ expenseCategoryAmount.2 }}</th>
                                <th>{{ expenseCategoryAmount.3 }}</th></tr>
                            {% endfor %}
                            {% elseif range == "rangeCurrentYear" %}
                            {% for expenseCategoryAmount in detailedExpenseCurrentYear %}
                            <tr><th>{{ loop.index }}</th>
                                <th>{{ expenseCategoryAmount.0 }}</th>
                                <th>{{ expenseCategoryAmount.1 }}</th>
                                <th>{{ expenseCategoryAmount.2 }}</th>
                                <th>{{ expenseCategoryAmount.3 }}</th></tr>
                            {% endfor %}
                            {% elseif range == "rangeChosenPeriod" %}
                            {% for expenseCategoryAmount in detailedExpenseChosenPeriod %}
                            <tr><th>{{ loop.index }}</th>
                                <th>{{ expenseCategoryAmount.0 }}</th>
                                <th>{{ expenseCategoryAmount.1 }}</th>
                                <th>{{ expenseCategoryAmount.2 }}</th>
                                <th>{{ expenseCategoryAmount.3 }}</th></tr>
                            {% endfor %}
                            {% else %}
                            {% for expenseCategoryAmount in detailedExpenseCurrentMonth %}
                            <tr><th>{{ loop.index }}</th>
                                <th>{{ expenseCategoryAmount.0 }}</th>
                                <th>{{ expenseCategoryAmount.1 }}</th>
                                <th>{{ expenseCategoryAmount.2 }}</th>
                                <th>{{ expenseCategoryAmount.3 }}</th></tr>
                            {% endfor %}
                            {% endif %}
                        </table>
                    </div>

        </form>
        </div>
        </div>
    </article>
</main>

{% endblock %}