{% extends "base.html" %}

{% block title %}Settings{% endblock %}

{% block footer %}

{% endblock %}

{% block body %}
<main>
    <div class="container">

        <div class="row">
            <div class="col-12 col-md-8 bg-budgetOpacity text-center mr-auto ml-auto interval">
                <form class="form-bloc p-4 " method="" action="">
                    <h2 style="color: white">USTAWIENIA</h2>

                        <button class="col-12 form-group mt-3 p-2 btn-success" type="button" data-toggle="collapse" data-target=".multi-collapse">
                            FORMATUJ KATEGORIE PRZYCHODÓW
                        </button>
                        <div class="collapse multi-collapse">
                            <div class="card card-body text-left">
                                <ul class="list-group rounded font-weight-bold">
                                    {% for category in incomesCategory %}
                                        <li class="list-group-item border border-success rounded bg-budgetOpacity mt-1">
                                            {{ category.0 }}
                                            <button class="btn-success float-right rounded ml-1" type="submit" value="Mod"><i class="icon-pencil"></i></button>
                                            <button class="btn-danger float-right rounded" type="submit" value="delete"><i class="icon-trash-empty"></i></button>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>


                        <button class="col-12 form-group mt-3 p-2 btn-success" type="button" data-toggle="collapse" data-target=".multi-collapse">
                            FORMATUJ KATEGORIE WYDATKÓW
                        </button>
                    <div class="collapse multi-collapse">
                                <div class="card card-body text-left">
                                    <ul class="list-group rounded font-weight-bold">
                                        {% for category in expensesCategory %}
                                            <li class="list-group-item border border-success rounded bg-budgetOpacity mt-1">
                                                {{ category.0 }}
                                                <button class="btn-success float-right rounded ml-1" type="submit" value="Mod"><i class="icon-pencil"></i></button>
                                                <button class="btn-danger float-right rounded" type="submit" value="delete"><i class="icon-trash-empty"></i></button>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                        <button class="col-12 form-group mt-3 p-2 btn-success" type="button" data-toggle="collapse" data-target=".multi-collapse">
                            FORMATUJ METODY PŁATNOŚCI
                        </button>

                            <div class="collapse multi-collapse">
                                <div class="card card-body text-left">
                                    <ul class="list-group rounded font-weight-bold">
                                        {% for method in paymentMethods %}
                                            <li class="list-group-item border border-success rounded bg-budgetOpacity mt-1">
                                                {{ method.0 }}
                                                <button class="btn-success float-right rounded ml-1" type="submit" value="Mod"><i class="icon-pencil"></i></button>
                                                <button class="btn-danger float-right rounded" type="submit" value="delete"><i class="icon-trash-empty"></i></button>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </button>

                        <button class="col-12 form-group mt-3 p-2 btn-success" type="button" data-toggle="collapse" data-target=".multi-collapse">
                            EDYTUJ DANE
                        </button>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}