{% extends "base.html" %}

{% block title %}Settings{% endblock %}

{% block footer %}

{% endblock %}

{% block body %}
<main>
    <div class="container">

        <div class="row">
            <div class="col-12 col-md-10 bg-budgetOpacity text-center mr-auto ml-auto interval">
                <form class="form-bloc p-4 " method="" action="">
                    <h2 style="color: white">USTAWIENIA</h2>
<!--                    MODAL FOR EDITION DATA OF YOUR ACCOUNT-->
                    <form method="get">
                    <div class="modal fade editAccountModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="myEditaAccountDataModalLabel">Edycja danych konta</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="text-left ml-2 mr-2">
                                    <input type="text" class="form-control mt-2" placeholder="login" autofocus name="name"
                                           {% for user in username %} value="{{ user.username }}" {% endfor %} />

                                    <input type="email" class="form-control mt-2" aria-describedby="emailHelp" placeholder="email" name="email"
                                           {% for user in email %} value="{{ user.email }}" {% endfor %}/>
                                </div>

                                <div class="modal-footer">
                                    <input formaction="settings/updateUserAccount" type="submit" class="col-6 btn btn-success" value="ZMIEŃ" />
                                    <input type="submit" class="col-6 btn btn-danger" data-dismiss="modal" value="ZAMKNIJ" />
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>

                    <!--                    MODAL FOR EDITION PASSWORD OF YOUR ACCOUNT-->
                    <form method="get">
                        <div class="modal fade editPasswordAccountModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Edycja hasła przypisanego do konta</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="text-left ml-2 mr-2">
                                        <input type="password" class="form-control mt-2" placeholder="Podaj aktualne hasło" autofocus name="password" />

                                        <input type="password" class="form-control mt-2" placeholder="Nowe hasło" name="userPassword" />

                                        <input type="password" class="form-control mt-2" placeholder="Potwierdź nowe hasło" name="repeatedUserPassword" />
                                    </div>

                                    <div class="modal-footer">
                                        <input formaction="settings/editPassword" type="submit" class="col-6 btn btn-success" value="ZMIEŃ" />
                                        <input type="submit" class="col-6 btn btn-danger" data-dismiss="modal" value="ZAMKNIJ" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <!--                    MODAL FOR CONFIRM DELETING ACCOUNT -->
                    <form method="get">
                    <div class="modal confirmationUser" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Potwierdź usuwanie</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body text-center font-weight-bold">
                                    <p>Naciśnij usuń aby kontynuować.</p>
                                </div>
                                <div class="modal-footer">
                                    <input formaction="settings/deleteUserAccount" type="submit" class="col-6 btn btn-danger" value="USUŃ" />
                                    <input type="submit" class="col-6 btn btn-primary" data-dismiss="modal" value="ZAMKNIJ" />
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                    <!--                    MODAL FOR CONFIRM DELETING INCOMES EXPENSES  -->

                    <form method="get">
                        <div class="modal confirmationIncomesExpenses" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Potwierdź usuwanie</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body text-center font-weight-bold">
                                        <p>Naciśnij usuń aby kontynuować.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <input formaction="settings/deleteIncomesExpenses" type="submit" class="col-6 btn btn-danger" value="USUŃ" />
                                        <input type="submit" class="col-6 btn btn-primary" data-dismiss="modal" value="ZAMKNIJ" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <!--                        MODAL FOR EDITION INCOME CATEGORY -->
                    <form method="get">
                    {% for category in incomesCategory %}
                    <div class="modal fade editIncomeModal{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="myEditIncomeModalLabel">Edycja kategorii</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="text-left ml-2 mr-2">
                                    <label class="mt-2 customText">Nazwa kategorii: </label>
                                    <input type="hidden" value="{{ category.name }}" name="incomeCategoryName{{ loop.index }}" >
                                    <input type="textarea" class="col-12 form-control"
                                           value="{{ category.name }}" name="editIncomeCategory{{ loop.index }}" autofocus>
                                </div>

                                <div class="modal-footer">
                                    <input formaction="settings/updateIncomeCategory" name="updateIncomeCategory" type="submit" class="col-6 btn btn-success" value="ZMIEŃ" />
                                    <input type="submit" class="col-6 btn btn-danger" data-dismiss="modal" value="ZAMKNIJ" />
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    </form>

                    <form method="get">
                    <!--                        MODAL FOR ADDING INCOME CATEGORY -->
                    <div class="modal fade" id="addIncomeCategoryModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="myAddingIncomeCategoryModalLabel">Dodaj kategorię</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="text-left ml-2 mr-2">
                                    <label class="mt-2 customText">Nazwa kategorii: </label>
                                    <input type="textarea" class="col-12 form-control" name="income" autofocus>
                                </div>

                                <div class="modal-footer">
                                    <input formaction="settings/createIncome" name="update" type="submit" class="col-6 btn btn-success" value="DODAJ" />
                                    <input type="submit" class="col-6 btn btn-danger" data-dismiss="modal" value="ZAMKNIJ" />
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>

<!--                        MODAL FOR EDITION EXPENSE CATEGORY -->
                    {% for category in expensesCategory %}
                    <div class="modal fade editExpenseModal{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="myModalLabel">Edycja kategorii</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="text-left ml-2 mr-2">
                                    <label class="mt-2 customText">Nazwa kategorii: </label>
                                    <input type="textarea" class="col-12 form-control" value="{{ category.name }}" autofocus>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="switchLimitOn" onclick="this.form.elements['editionLimitAmount{{ loop.index }}'].disabled = !this.checked" >
                                            Włącz limit dla kategorii
                                        </label>
                                        <p>Ustaw miesięczny limit wydatków dla kategorii: </p>
                                        <input type="value" class="form-control" placeholder="Wpisz kwotę" name="editionLimitAmount{{ loop.index }}" disabled>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <input name="update" type="submit" class="col-6 btn btn-success" value="ZMIEŃ" />
                                    <input type="submit" class="col-6 btn btn-danger" data-dismiss="modal" value="ZAMKNIJ" />
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

<!--                    MODAL FOR ADDING EXPENSE CATEGORY -->
                    <form method="get">
                    <div class="modal fade" id="addExpenseCategoryModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addIncomeExpenseCategoryModalLabel">Dodaj kategorię</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="text-left ml-2 mr-2">
                                    <label class="mt-2 customText">Nazwa kategorii: </label>
                                    <input name="expense" type="textarea" class="col-12 form-control" autofocus>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="switchLimitOn" onclick="this.form.elements['addingLimitAmount'].disabled = !this.checked" >
                                            Włącz limit dla kategorii
                                        </label>
                                        <p>Ustaw miesięczny limit wydatków dla kategorii: </p>
                                        <input type="value" class="form-control" placeholder="Wpisz kwotę" name="addingLimitAmount" disabled>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <input formaction="settings/createExpense" name="update" type="submit" class="col-6 btn btn-success" value="DODAJ" />
                                    <input type="submit" class="col-6 btn btn-danger" data-dismiss="modal" value="ZAMKNIJ" />
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>

<!--                    MODAL FOR EDITION PAYMENT METHOD -->
                    {% for method in paymentMethods %}
                    <div class="modal fade paymentMethodModal{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="paymentMethodModalLabel">Edycja metod płatności</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="text-left ml-2 mr-2">
                                    <label class="mt-2 customText">Nazwa metody: </label>
                                    <input type="textarea" class="col-12 form-control" value="{{ method.name }}" autofocus>
                                </div>

                                <div class="modal-footer">
                                    <input name="update" type="submit" class="col-6 btn btn-success" value="ZMIEŃ" />
                                    <input type="submit" class="col-6 btn btn-danger" data-dismiss="modal" value="ZAMKNIJ" />
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

<!--                    MODAL FOR ADDING PAYMENT METHOD-->
                    <form method="get">
                    <div class="modal fade" id="addPaymentMethodModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addPaymentMethodModalLabel">Dodaj metodę płatności</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="text-left ml-2 mr-2">
                                    <label class="mt-2 customText">Nazwa metody: </label>
                                    <input name="method" type="textarea" class="col-12 form-control" autofocus>
                                </div>

                                <div class="modal-footer">
                                    <input formaction="settings/createPayment" name="update" type="submit" class="col-6 btn btn-success" value="DODAJ" />
                                    <input type="submit" class="col-6 btn btn-danger" data-dismiss="modal" value="ZAMKNIJ" />
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>

                    <form method="get">
                        <button class="col-12 form-group mt-3 p-2 btn-success" type="button" data-toggle="collapse" data-target="#headingIncomes">
                            FORMATUJ KATEGORIE PRZYCHODÓW
                        </button>

                        <div class="collapse multi-collapse" id="headingIncomes">
                            <div class="card card-body text-left">
                                <ul class="list-group rounded font-weight-bold">
                                    {% for category in incomesCategory %}
                                        <li class="list-group-item border border-success rounded bg-budgetOpacity mt-1">
                                            {{ category.name }}
                                            <button class="btn-danger float-right rounded ml-1" formaction="settings/deleteIncomeCategory"
                                                    type="submit" value="{{ category.name }}" name="deleteIncomeCategory">
                                                <i class="icon-trash-empty"></i>
                                            </button>
                                            <button class="btn-success float-right rounded"
                                                    data-toggle="modal" data-target=".editIncomeModal{{ loop.index }}" type="button" value="modificate">
                                                <i class="icon-pencil"></i>
                                            </button>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <button class="mt-2 btn-success rounded" data-toggle="modal" data-target="#addIncomeCategoryModal" type="button">
                                    <i class="icon-plus"></i>
                                    Dodaj nową kategorie
                                </button>
                            </div>
                        </div>

                        <button class="col-12 form-group mt-3 p-2 btn-success" type="button" data-toggle="collapse" data-target="#headingExpenses">
                            FORMATUJ KATEGORIE WYDATKÓW
                        </button>
                        <div class="collapse multi-collapse" id="headingExpenses">
                            <div class="card card-body text-left">
                                <ul class="list-group rounded font-weight-bold">
                                    {% for category in expensesCategory %}
                                        <li class="list-group-item border border-success rounded bg-budgetOpacity mt-1">
                                            {{ category.0 }}
                                            {% if category.expense_limit is not null%}
                                            <div class="font-weight-normal d-inline-block">Limit: {{ category.expense_limit }}</div>
                                            {% endif %}
                                            <button class="btn-danger float-right rounded ml-1" type="submit" formaction="settings/deleteExpenseCategory"
                                                    value="{{ category.name }}" name="deleteExpenseCategory"><i class="icon-trash-empty"></i>
                                            </button>
                                            <button class="btn-success float-right rounded"
                                                    data-toggle="modal" data-target=".editExpenseModal{{ loop.index }}" type="button" value="modificate">
                                                <i class="icon-pencil"></i>
                                            </button>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <button class="mt-2 btn-success rounded" data-toggle="modal" data-target="#addExpenseCategoryModal" type="button">
                                    <i class="icon-plus"></i>
                                    Dodaj nową kategorie
                                </button>
                            </div>
                        </div>

                        <button class="col-12 form-group mt-3 p-2 btn-success" type="button" data-toggle="collapse" data-target="#headingPaymentMethods">
                            FORMATUJ METODY PŁATNOŚCI
                        </button>

                        <div class="collapse multi-collapse" id="headingPaymentMethods">
                            <div class="card card-body text-left">
                                <ul class="list-group rounded font-weight-bold">
                                    {% for method in paymentMethods %}
                                        <li class="list-group-item border border-success rounded bg-budgetOpacity mt-1">
                                            {{ method.0 }}
                                            <button class="btn-danger float-right rounded ml-1" formaction="settings/deletePaymentMethod"
                                                    type="submit" value="{{ method.name }}" name="deletePaymentMethod">
                                                <i class="icon-trash-empty"></i>
                                            </button>

                                            <button class="btn-success float-right rounded"
                                                    data-toggle="modal" data-target=".paymentMethodModal{{ loop.index }}" type="button" value="modificate">
                                                <i class="icon-pencil"></i>
                                            </button>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <button class="mt-2 btn-success rounded" data-toggle="modal" data-target="#addPaymentMethodModal" type="button">
                                    <i class="icon-plus"></i>
                                    Dodaj nową metodę płatności
                                </button>
                            </div>
                        </div>
                    </form>

                        <form method="get">
                            <button class="col-12 form-group mt-3 p-2 btn-success" type="button" data-toggle="collapse" data-target="#headingEditUser">
                                EDYTUJ DANE
                            </button>

                            <div class="collapse multi-collapse mb-3" id="headingEditUser">
                                <div class="card card-body text-center">
                                    <div>Login:  {% for i in username %} <strong>{{ i.username }}</strong> {% endfor %}</div>
                                    <div>E-mail: {% for i in email %} <strong>{{ i.email }}</strong> {% endfor %}</div>
                                    <div>
                                        <button class="col-5 d-inline-block btn btn-success my-2" type="button" style="color: white" data-toggle="modal" data-target=".editAccountModal">
                                            Edytuj swoje dane
                                        </button>
                                        <button name="deleteIncomesExpenses" class="col-5 d-inline-block btn btn-danger my-2" type="button"
                                                data-toggle="modal" data-target=".confirmationIncomesExpenses">
                                            Usuń przychody i wydatki
                                        </button>
                                    </div>
                                    <div>
                                        <button class="col-5 d-inline-block btn btn-success my-2" type="button" style="color: white"
                                                data-toggle="modal" data-target=".editPasswordAccountModal">
                                            Zmień hasło
                                        </button>
                                        <button class="col-5 d-inline-block btn btn-danger my-2" type="button"
                                                data-toggle="modal" data-target=".confirmationUser">
                                            Usuń moje konto
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}