{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}

<main>
    <div class="col-sm-8 col-lg-6 container">

        <div class="row bg-budgetOpacity text-center" style="margin-top: 15%">
                <form class="form-bloc p-4 " method="post" action="/login/create">
                    <h2>LOGOWANIE</h2>

                    <div class="form-group mt-5 customInputs registration">
                        <input type="text" class="form-control" placeholder="login" name="login" autofocus value="{{ name }}">
                    </div>

                    <div class="form-group mt-4 customInputs registration">
                        <input type="password" class="form-control" placeholder="hasło" name="password">
                    </div>

                    <div class="checkbox mt-3">
                        <label>
                            <input type="checkbox" name="remember_me" {% if remember_me %}
                                   checked="checked" {% endif %}/> Zapamiętaj mnie
                        </label>
                    </div>

                    <button class="btn btn-primary mt-4 mb-3 registration customInputs" type="submit">
                        ZALOGUJ SIĘ
                    </button>

                    <h5>Nie masz jeszcze konta ?</h5>

                    <button class="btn btn-danger mt-2 mb-5 registration customInputs" type="submit">
                        <a href="/Signup/new" style="color: white"> ZAREJESTRUJ SIĘ </a>
                    </button>
                </form>
        </div>
    </div>
</main>

{% endblock %}