{% extends "base.html" %}

{% block title %}Income{% endblock %}

{% block body %}

<main>

    <article>

        <div class="container">

            <div class="row">

                <div class="col-sm-10 bg-budgetOpacity text-center information mt-5 mr-auto ml-auto ">

                    <h2 style="color: white">Witaj w sekcji "Dodaj Przychód"</h2>

                    <form method="post" id="buttons" action="income/create" class="form-block income">
                        <div class="form-group mt-4">
                            <h4>KWOTA</h4>
                            <input type="value" class="form-control mt-3" placeholder="Wpisz kwotę" name="amountIncome" required autofocus>
                        </div>

                        <div class="form-group mt-3 mb-3">
                            <h4>DATA</h4>
                            <input type="date" class="form-control" name='dateIncome' value="{{ date }}">
                        </div>


                        <h4>KATEGORIA</h4>
                        <select class="custom-select my-1 mr-sm-2" name="categoryIncome">
                            <option value="1" selected>Wynagrodzenie</option>
                            <option value="2">Odsetki bankowe</option>
                            <option value="3">Sprzedaż na allegro</option>
                            <option value="4">Inne przychody</option>
                        </select>

                        <div class="form-group mt-3 mb-5">
                            <h5>Opcjonalny komentarz opisujący przychód</h5>
                            <textarea class="form-control mt-4" rows="3" name="commentIncome"></textarea>
                        </div>

                    </form>
                </div>
            </div>

            <div class="mt-3 text-center">
                <p>
                    <input class="btn bg-budget my-2 p-2 custom" type="submit" style="color: white" value="DODAJ" form="buttons"/>
                    <input class="btn btn-danger ml-3 my-2 p-2 custom" type="reset" value="ANULUJ" form="buttons"/>
                </p>
            </div>

        </div>
    </article>
</main>

{% endblock %}